<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/addPost.css">
</head>
<body>

<div class="wrapper-add-post">
    <div class="box-add-post" style="position: relative">
        <span>How many people are you searching?</span>
        <input id="id-amount-of-people" type="number" value="1" name="amount-of-people">
    </div>

    <div class="box-add-post">
        <span >Number for contact</span>
        <input id="id-tel" type="tel" name="contact-number">
    </div>
    <div class="box-add-post">
        <span>Date of create</span>
        <input id="id-create-date" type="datetime-local" name="create-date">
    </div>
    <div class="box-add-post">
        <span>Still more information about invent</span>
        <textarea id="id-description" name="description"></textarea>
    </div>
    <div class="box-add-post">
        <span >Link for image</span>
        <input id="id-img"  type="text" name="img">
    </div>
    <div class="box-add-post">
        <span>Where will you play?</span>
        <input id="id-location" type="text" name="location">
    </div>
   <div class="box-add-post">
       <span>When will you play?</span>
       <input id="id-match-date" type="datetime-local" name="match-date">
   </div>
    <div class="box-add-post">
    <span>Price(BYN)</span>
    <input id="id-price" type="number" name="price">
    </div>
    <div class="box-add-post">
        <span>Shower is present</span>
        <input id="id-shower-present" type="checkbox" name="shower-present">
    </div>
    <div class="box-add-post">
        <span>Title</span>
        <input id="id-title" type="text" required="required" name="title">
    </div>
    <div class="box-add-post">
        <span>Tag</span>
        <select id="id-tag">
            <option>FOOTBALL</option>
            <option>BASKETBALL</option>
            <option>VOLLEYBALL</option>
            <option>TENNIS</option>
        </select>
    </div>

    <button id="add-post-button">Add post</button>
</div>
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/addPost.js"></script>
</body>
</html>