<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/addPost.css">
</head>
<body>

<div class="wrapper-add-post">
    <span>Form for delete post</span>
    <div class="box-delete-post" style="position: relative">
        <span>Id:</span>
        <input id="id-for-delete-input" type="number">
        <button id="delete-post-button">Delete post</button>
        <a href="/wall"> Go to main</a>
    </div>
</div>
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/deletePost.js"></script>
</body>
</html>