<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Refactor posts</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/addPost.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="wrapper-add-post">
    <span>Form for delete post</span>
    <div style="text-align: center">
        <a href="/wall"> Go to main</a>
    </div>
    <div>
        <button id="button-get-all-posts">All posts</button>
    </div>
    <div id="div-get-all-posts"></div>
</div>
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/refactorPost.js"></script>
</body>
</html>