<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete user</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="alert alert-primary">
    <span>Form for delete user</span>
    <div style="text-align: center">
        <a href="/wall"> Go to main</a>
    </div>

    <div>
        <button class="btn btn-info" id="button-list-of-users">List of users</button>
    </div>
    <div id="block-for-users-list"></div>
</div>
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/refactorUser.js"></script>
</body>
</html>